body{
    background-color: white
}
.teclado{
    background-color:rgb(229, 229, 229);
    border-radius: 10px;
    border: 0px solid rgb(226, 226, 226);
    text-align: center;
}
.fila{
}
.tecla{
    display: inline;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;
}
.espacio{
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 12px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;
}
.texto{
    display: inline-block;
    text-align: center;
}
.filatexto{
text-align: left;
}
.letra{
    display: inline-block;
}
.tecla:hover{
    border: 2px double black;
}
.espacio:hover{
    border: 2px double black;
}